<launch>
  <!-- move_base -->
    <include file="$(find gizmo_bringup)/launch/move_base.launch"/> 

  <!-- start lidar on B2-->
    <machine name="b2" address="b2" user="pi" env-loader="/home/pi/catkin_ws/devel/remote_env_loader.sh" default="true" />
    <node machine="b2" name="b2" pkg="b2_bringup" type="lidar.bash" output="screen">
    </node>
    

</launch>
